.about{
    padding-bottom: 2rem;
    padding-left: 5%;
    height: 100%;
    color: rgb(192, 187, 179);
}
.about h1{
    font-size: 4rem;
    margin: 0;
    padding-top: 5rem;
}
.aboutSection{
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    padding-top: 2rem;
}
.techStack{
    min-width: 50%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.stackList{
    list-style-type: none;
}
.programmingDatabase{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 1000px) and (max-width: 1370px) {
    .aboutSection{
        display: block;
        padding-top: 1rem;
    }
    .about h1{
        padding-top: 4rem;
        font-size: 2.5rem;
    }
    .techStack{
        display: flex;
        margin-top: 3rem;
        font-size: large;
        justify-content: start;
        gap: 4rem;
    }
    .programmingDatabase{
        flex-direction: row;
        gap: 3rem;
    }
}