.fixedNav{
    position: fixed;
    left: 0;
    right: 0;
    padding: 2rem 9rem;
    background-color: transparent;
    transition: 0.5s ease-out;
    height: 3rem;
}
.fixedNav.active{
    padding: 0.75rem 9rem;
    transition: width 0s 1.4s ease;
    border-bottom: 0.5px solid rgb(192, 187, 179);
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
    background-color: rgb(0,0,0);
    z-index: 1;
}
.NavMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    color: rgb(192, 187, 179);
    font-weight: bold;
}
.NavMain.active {
    color: inherit;
    opacity: 0.5;
    transition: opacity 1s ease;
}
.navLinks{
    display: flex;
    gap: 5rem;
    text-align: center;
}
.navLinks a{
    text-decoration: none;
    color: inherit;
}
.linkSelected{
   border-bottom: 1.5px solid white;
   padding: 0;
   margin: 0;
}
.link:hover{
    border-bottom: 1.5px solid white;
    transition: 0.5s ease-out;
}
.viewMore{
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}
.previewRepo.viewMore{
    font-size: 2.3rem;
    font-weight: bold;
}
